@model MiniShoppingCartModel
@using Nop.Web.Models.ShoppingCart;

<div id="flyout-cart">
    <div class="top-cart-content-wrapper">
        <div class="top-cart-content">
            <ul class="scroller" style="height: 250px;">
                @if (Model.TotalProducts > 0)
                {
                    for (int i = 0; i < Model.Items.Count; i++)
                    {
                        var item = Model.Items[i];
                        <li id="minicart_@item.ProductId">
                            <a href="@Url.RouteUrl("Product", new { SeName = item.ProductSeName })" title="@item.Picture.Title">
                                <img alt="@item.Picture.AlternateText" src="@item.Picture.ImageUrl" title="@item.Picture.Title" />
                            </a>
                            @if (!String.IsNullOrEmpty(item.AttributeInfo))
                            {
                                <div class="attributes">
                                    @Html.Raw(item.AttributeInfo)
                                </div>
                            }
                            <strong>
                                <a href="@Url.RouteUrl("Product", new { SeName = item.ProductSeName })">@item.ProductName</a>
                            </strong>
                            <em>@item.Quantity x @item.UnitPrice @item.TotalPrice</em>
                            <a href="javascript:void(0);" class="del-goods" data-productid="@item.ProductId" onclick="ShoppingCartController.removeItemFromCart(@item.ProductId);">&nbsp;</a>
                        </li>
                    }
                }
                else
                {
                    <li>
                        @T("ShoppingCart.Mini.NoItems")
                    </li>   
                }
            </ul>
            <div class="text-right">
                @if (Model.DisplayShoppingCartButton && Model.TotalProducts > 0)
                {
                    <input type="button" value="@T("ShoppingCart.Mini.ViewCart")" class="btn btn-primary" onclick="setLocation('@(Url.RouteUrl("ShoppingCart"))')" />
                }
                @if (Model.DisplayCheckoutButton && Model.TotalProducts > 0)
                {
                    var checkoutUrl = "";
                    if (Model.AnonymousCheckoutAllowed && Model.CurrentCustomerIsGuest)
                    {
                        checkoutUrl = Url.RouteUrl("LoginCheckoutAsGuest", new { returnUrl = Url.RouteUrl("ShoppingCart") });
                    }
                    else
                    {
                        checkoutUrl = Url.RouteUrl("Checkout");
                    }
                    <input type="button" value="@T("Checkout.Button")" class="btn btn-primary" onclick="setLocation('@checkoutUrl')" />
                }
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var __cartSubTotal = '@Model.SubTotal';
    var __itemCount = @Model.TotalProducts;
    $(function(){
        var selector = AjaxCart.cartsubtotalselector;
        var tItemText = (__itemCount > 1 || __itemCount == 0) ? "items" : "item";
        $(selector).html(__cartSubTotal);
        selector = AjaxCart.itemtextselector;
        $(selector).html(tItemText);
    });
</script>