@model ProductOverviewModel
@using Nop.Core
@using Nop.Core.Domain.Orders
@using Nop.Core.Domain.Tax
@using Nop.Core.Infrastructure
@using Nop.Web.Extensions
@using Nop.Web.Models.Catalog;

@helper Text_Truncate(string input, int length)
{
    if (input.Length <= length)
    {
        @Html.Raw(@input)
    }
    else
    {
        @Html.Raw(@input.Substring(0, length))<text>...</text>
    }


}
@helper cart_icon()
{
    @Html.Raw("")<i class="fa fa-shopping-cart"></i>


}

@{
    //prepare "Add to cart" AJAX link
    string addtocartlink = "";
    var shoppingCartTypeId = (int)ShoppingCartType.ShoppingCart;
    var quantity = 1;
    if (Model.ProductPrice.ForceRedirectionAfterAddingToCart)
    {
        addtocartlink = Url.RouteUrl("AddProductToCart-Catalog", new { productId = Model.Id, shoppingCartTypeId = shoppingCartTypeId, quantity = quantity, forceredirection = Model.ProductPrice.ForceRedirectionAfterAddingToCart });
    }
    else
    {
        addtocartlink = Url.RouteUrl("AddProductToCart-Catalog", new { productId = Model.Id, shoppingCartTypeId = shoppingCartTypeId, quantity = quantity, });
    }
}


<!-- PRODUCT ITEM START -->
<div class="col-md-4 col-sm-6 col-xs-12">
    <div class="product-box">
        <div class="product-item">
            <div class="pi-img-wrapper">
                <img alt="@Model.DefaultPictureModel.AlternateText" class="img-responsive centered" src="@Model.DefaultPictureModel.ImageUrl" title="@Model.DefaultPictureModel.Title" />
                <div>
                    <a href="@Model.DefaultPictureModel.FullSizeImageUrl" class="btn btn-default fancybox-button">Zoom</a>
                    <a href="@Url.RouteUrl("Product", new{SeName = Model.SeName})" class="btn btn-default fancybox-fast-view">View</a>
                </div>
            </div>
            <h3><a href="@Url.RouteUrl("Product", new{SeName = Model.SeName})">@Model.Name</a></h3>
            <div class="pi-price">@Model.ProductPrice.Price</div>
            @if (!Model.ProductPrice.DisableBuyButton)
            {
                <a href="#" onclick="AjaxCart.addproducttocart_catalog('@addtocartlink'); return false;" class="btn btn-default add2cart"><i class="fa fa-shopping-cart"></i> @(Model.ProductPrice.AvailableForPreOrder ? T("ShoppingCart.PreOrder") : T("ShoppingCart.AddToCart"))</a>
            }
        </div>
    </div>
</div>