@model TopMenuModel
@using System.Text.RegularExpressions
@using Nop.Web.Models.Catalog;
@{
    var isRtl = this.ShouldUseRtlTheme();
}

@helper RenderSubCategoryLine(CategorySimpleModel category, int level)
{
    <li class="dropdown dropdown-megamenu">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            @category.Name
            &nbsp;<i class="fa fa-angle-down"></i>
        </a>
        <ul class="dropdown-menu">
            @foreach (var subCategory in category.SubCategories)
            {
                <li>
                    <div class="header-navigation-content">
                        <div class="row">
                            <div class="col-md-4 header-navigation-col">
                                <h4>@subCategory.Name</h4>
                                <ul>
                                    @RenderSubCategory(subCategory, level + 1)
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>
            }
        </ul>

    </li>
}

@helper RenderSubCategory(CategorySimpleModel category, int level)
{
    if (category.SubCategories.Count > 0)
    {
        @RenderSubCategoryLine(category, 0)
    }
    else
    {

        @*<li>
                <a href="@Url.RouteUrl("Category", new { SeName = category.SeName })">@category.Name</a>
            </li>*@
    }
}

@helper RenderCategoryLine(CategorySimpleModel category, int level)
{
    if (category.SubCategories.Count > 0)
    {
        @RenderSubCategoryLine(category, 0)
    }
    else
    {
        <li>
            <a href="@Url.RouteUrl("Category", new { SeName = category.SeName })">
                @category.Name


            </a>
        </li>
    }
}

<div class="header-bottom">
    <!--header-bottom-->
    <div>
        <div class="row">
            <div class="col-sm-10">
                <nav role="navigation" class="header-navigation">
                    <ul>
                        @if (Model.Categories.Count > 0)
                        {
                            foreach (var category in Model.Categories)
                            {
                                @RenderCategoryLine(category, 0)
                            }
                        }
                        else
                        {
                            //no categories to display?
                            //in this cae let's diplay some default menu items
                            <li><a href="@Url.RouteUrl("HomePage")">@T("HomePage")</a></li>
                            if (Model.RecentlyAddedProductsEnabled)
                            {
                                <li>
                                    <a href="@Url.RouteUrl("RecentlyAddedProducts")">@T("Products.NewProducts")</a>
                                </li>
                            }
                            <li><a href="@Url.RouteUrl("ProductSearch")">@T("Search")</a> </li>
                            <li><a href="@Url.RouteUrl("CustomerInfo")">@T("Account.MyAccount")</a></li>
                            if (Model.BlogEnabled)
                            {
                                <li><a href="@Url.RouteUrl("Blog")">@T("Blog")</a></li>
                            }
                            if (Model.ForumEnabled)
                            {
                                <li><a href="@Url.RouteUrl("Boards")">@T("Forum.Forums")</a></li>
                            }
                            <li><a href="@Url.RouteUrl("ContactUs")">@T("ContactUs")</a></li>
                        }
                        @Html.Widget("header_menu_after")
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
