@model TopMenuModel
@using System.Text.RegularExpressions
@using Nop.Web.Models.Catalog;
@using Nop.Core.ComponentModel;
@{
    var isRtl = this.ShouldUseRtlTheme();
}

@helper RenderSubCategoryLine(CategorySimpleModel category, int level)
{
    <li class="dropdown dropdown-megamenu">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            @category.Name
            &nbsp;<i class="fa fa-angle-down"></i>
        </a>
        <ul class="dropdown-menu">
            <li>
                <div class="header-navigation-content">
                    <div class="row">
                        @foreach (var subCategory in category.SubCategories)
                        {
                            <div class="col-md-4 header-navigation-col">
                                <a href="@(Url.RouteUrl("Category", new { SeName = subCategory.SeName }))">
                                    <h4>@subCategory.Name</h4>
                                </a>
                                <ul>
                                    @RenderSubCategory(subCategory, level + 1)
                                </ul>
                            </div>
                        }
                    </div>
                </div>
            </li>
        </ul>

    </li>
}

@helper RenderSubCategory(CategorySimpleModel category, int level)
{
    if (category.SubCategories.Count > 0)
    {
        var list = category.SubCategories.Flatten((myObject, objectsBeingFlattened) =>
                    myObject.SubCategories.Except(objectsBeingFlattened))
         .ToList();
        foreach (var cat in list)
        {
            <li>
                <a href="@Url.RouteUrl("Category", new { SeName = cat.SeName })">@cat.Name</a>
            </li>
        }
    }
    else
    {

    }
}

@helper RenderCategoryLine(CategorySimpleModel category, int level)
{
    if (category.SubCategories.Count > 0)
    {
        @RenderSubCategoryLine(category, 0)
    }
    else
    {
        <li>
            <a href="@Url.RouteUrl("Category", new { SeName = category.SeName })">
                @category.Name
            </a>
        </li>
    }
}

    @if (Model.Categories.Count > 0)
    {
        foreach (var category in Model.Categories)
        {
            @RenderCategoryLine(category, 0)
        }
    }
    else
    {
        //no categories to display?
        //in this cae let's diplay some default menu items
        <li><a href="@Url.RouteUrl("HomePage")">@T("HomePage")</a></li>
        if (Model.RecentlyAddedProductsEnabled)
        {
            <li>
                <a href="@Url.RouteUrl("RecentlyAddedProducts")">@T("Products.NewProducts")</a>
            </li>
        }
        <li><a href="@Url.RouteUrl("ProductSearch")">@T("Search")</a> </li>
        <li><a href="@Url.RouteUrl("CustomerInfo")">@T("Account.MyAccount")</a></li>
        if (Model.BlogEnabled)
        {
            <li><a href="@Url.RouteUrl("Blog")">@T("Blog")</a></li>
        }
        if (Model.ForumEnabled)
        {
            <li><a href="@Url.RouteUrl("Boards")">@T("Forum.Forums")</a></li>
        }
        <li><a href="@Url.RouteUrl("ContactUs")">@T("ContactUs")</a></li>
    }    