@model LoginModel
@using Nop.Web.Models.Customer;
@using Nop.Core;
@using Nop.Core.Infrastructure;
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.Login").Text);

    //register URL with return URL (if specified)
    var registerUrl = Url.RouteUrl("Register");
    if (!String.IsNullOrEmpty(this.Context.Request.QueryString["returnUrl"]))
    {
        var webHelper = EngineContext.Current.Resolve<IWebHelper>();
        registerUrl = webHelper.ModifyQueryString(registerUrl, "returnurl=" + HttpUtility.UrlEncode(this.Context.Request.QueryString["returnUrl"]), null);
    }
}
@Html.Partial("_ExternalAuthentication.AssociateMessage")
@Html.Partial("_ExternalAuthentication.Errors")
<div class="col-md-6 col-sm-6">
    <div class="portlet light">
        <div class="portlet-title">
            <div class="caption uppercase">
                <span class="uppercase">@T("Account.Login.ReturningCustomer")</span>
            </div>
        </div>
        <div class="portlet-body">
            @Html.ValidationSummary(true, T("Account.Login.Unsuccessful").Text)
            <form method="post" action="/login?ReturnUrl=/cart" novalidate="novalidate" id="login-form" role="form" class="run-form-validation">
                @if (Model.UsernamesEnabled)
                {
                    <div class="form-group">
                        <label for="Username">@T("Account.Login.Fields.UserName")</label>
                        <input type="text" id="Username" name="Username" class="form-control" autofocus="autofocus" required />
                        <span class="help-block"></span>
                    </div>
                }
                else
                {
                    <div class="form-group">
                        <label for="Email">@T("Account.Login.Fields.Email")</label>
                        <input type="text" id="Email" name="Email" class="form-control" autofocus="autofocus" required />
                        <span class="help-block"></span>
                    </div>
                }

                <div class="form-group">
                    <label for="password-login">@T("Account.Login.Fields.Password")</label>
                    <input type="password" id="Password" name="Password" class="form-control" required />
                    <span class="help-block"></span>
                </div>
                <a href="/passwordrecovery">Forgot password?</a>
                <input type="checkbox" value="true" name="RememberMe" id="RememberMe" class="hide" checked />
                <div class="padding-top-20">
                    <button class="btn btn-primary" type="submit">@T("Account.Login.LoginButton")</button>
                </div>
                <hr>
                <div class="login-socio">
                    <p class="text-muted">or login using:</p>
                    <ul class="social-icons">
                        <li><a href="#" data-original-title="facebook" class="facebook" title="facebook"></a></li>
                        <li><a href="#" data-original-title="Twitter" class="twitter" title="Twitter"></a></li>
                        <li><a href="#" data-original-title="Google Plus" class="googleplus" title="Google Plus"></a></li>
                        <li><a href="#" data-original-title="Linkedin" class="linkedin" title="LinkedIn"></a></li>
                        @Html.Action("ExternalMethods", "ExternalAuthentication")
                    </ul>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="col-md-6 col-sm-6">
    <div class="portlet light">
        <div class="portlet-title">
            <div class="caption uppercase">
                <span class="uppercase">@T("Account.Login.NewCustomer")</span>
            </div>
        </div>
        <div class="portlet-body">
            <br />
            <h4>@T("Account.Login.NewCustomerText")</h4>
            @if (Model.CheckoutAsGuest)
            {
                @T("Account.Login.CheckoutAsGuestOrRegister")
                @Html.Action("TopicBlock", "Topic", new { systemName = "CheckoutAsGuestOrRegister" })
                <div class="padding-top-20">
                    <input type="button" class="btn btn-primary" onclick="location.href='@Url.RouteUrl("Checkout")'" value="@T("Account.Login.CheckoutAsGuest")" />
                    <input type="button" class="btn btn-primary" onclick="location.href='@registerUrl'" value="@T("Account.Register")" />
                </div>
            }
            else
            {
                <div class="padding-top-20">
                    <input type="button" class="btn btn-primary " onclick="location.href='@registerUrl'" value="@T("Account.Register")" />
                </div>
                <div class="padding-top-20"></div>
                <br />
            }
        </div>
    </div>
</div>
